* {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* #region Default Tags*/
body {
    background-color: #69646a;
}

header {
    padding: 10px;
    background-color: #504d51;
}
    header h1 {
        text-align: center;
        font-size: 50px;
    }

main {
    
}

footer {
    background-color: #504d51;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
button:hover {
    cursor: pointer;
}
/* #endregion*/

.nav-bar {

}
    .nav-bar ul {
        
        background-color: #504d51;
    }
    .nav-bar li{
        margin-left: 10px;
    }
    .nav-bar button {
        padding: 5px;
        background-color: #504d51;
        border-style: solid;
        color: white;
        font-size: 25px;
    }
        .nav-bar button:hover {
            cursor: pointer;
            background-color: #2a2a2a;
            color: white;
        }

.side-bar {
    margin: 40px;
    margin-top: 20px;
}
    .side-bar #content {
        padding: 20px;
        margin: 10px;
        background-color: #818181;
    }


#game-holder {
    margin: 100px;
    margin-top: 20px;
    margin-right: 0px;
    text-align: left;
    width: fit-content;
    flex-direction: column;
    background-color: #504d51;
}
    #game-holder #game-nav-bar {
        justify-content: space-between;
        border: 5px solid #373737;
    }

#game-nav-bar li{
    font-size: 30px;
}
#game-nav-bar #flags {
    color: red;
}
#game-nav-bar #reset {
    font-size: 30px;
    border-style: none;
    background-color: #b7b7b7;
}
    #game-nav-bar #reset:hover {
        border-style: none;
        background-color: #6b6b6b;
        color: white;
    }
#game-nav-bar #timer{

}

#board {
/*    width: 800px;
    height: 500px;*/
/*delete width and height when implementing game logic*/
    display: grid;
    grid-template-columns: repeat(9, 30px);
/*    grid-gap: 4px;*/
    padding: 10px;
}



.cell {
    width: 30px;
    height: 30px;
    background: #fff;
    background-image: url(imgs/minesweeperTileSet.jpeg);
    background-size: 526.66666666667%;
    background-position: 0px 0px;
    background-origin: border-box;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*Not using for box Model*/
/* #region Minesweeper Squares/Tiles*/
.square-blank {
    background-position: 25% 100%;
}
.square-bombFlagged {
    background-position: 0% 100%;
}
.square-bombRevealed {
    background-position: 100% 100%;
}
.square-bombDeath {
    background-position: 100% 50%;
}
.square-open0 {
    background-position: 75% 50%;
}
.square-open1 {
    background-position: 0% 0px;
}
.square-open2 {
    background-position: 25% 0px;
}
.square-open3 {
    background-position: 50% 0px;
}
.square-open4 {
    background-position: 75% 0px;
}
.square-open5 {
    background-position: 100% 0px;
}
.square-open6 {
    background-position: 0px 50%;
}
.square-open7 {
    background-position: 25% 50%;
}
.square-open8 {
    background-position: 50% 50%;
}
/* #endregion */
